# build output
dist/
.astro/

# dependencies
node_modules/

# env
.env
.env.production

# logs
npm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea/

# os
.DS_Store

# testing
test-results/
playwright-report/
qa-screenshots/
